<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand">
				<span class="text-success">
					<i class="fa fa-leaf"></i> Boot
				</span> /
				<span class="text-danger">
					AngularJS
				</span>
			</span>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Custom Views <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="layout in layouts">
							<a href="#/{{ layout.template }}/{{ layout.name }}">{{ layout.name | title }}</a>
						</li>
					</ul>
				</li>
				<li><a href="#/custom">Create Custom</a></li>
				<li ng-repeat="(k, v) in buttons">
					<a href="" ng-click="setEntity(('/' + k), k)">{{ k | title }}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="row">
	<select ng-model="layout.template" ng-click="setTemplate()">
		<option ng-repeat="(key, value) in templates" value="{{ key }}">{{ key | title }}</option>
	</select>
	<input type="text" ng-model="layout.name" placeholder="Layout Name"/>
	<button ng-click="save()">Save</button>
</div>


<div class="row" ng-show="layout.template">
	<div class="col-lg-3" ng-repeat="(index, position) in layout.positions">
		<div class="row">
			<h4>Position {{ index + 1 }}</h4>
			<div>
				<label>Table</label>
				<select ng-model="layout.positions[index].resource">
					<option ng-repeat="(k, v) in tables" value="{{ k }}">{{ k | title }}</option>
				</select>
			</div>
			<div ng-show="layout.positions[index].resource">
				<label>Type</label>
				<select ng-model="layout.positions[index].type">
					<option ng-repeat="selectType in types" value="{{ selectType }}">{{ selectType | title }}</option>
				</select>
			</div>
		</div>
		<div class="row" ng-show="layout.positions[index].type">
			<label>Fields</label>
			<div class="checkbox" ng-repeat="(k,v) in tables[layout.positions[index].resource]">
				<label>
					<input type="checkbox" ng-model="layout.positions[index].fields[k]" > {{ k | field }}
				</label>
			</div>
		</div>
	</div>
</div>

